.input_contato {
    width: 583px;
    height: 129px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
    resize: none;
    padding: 10px;
}

.clique-enviar {
    display: none;
}